* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

a.subheader_call_number {
  display: block;
  font-size: 22px;
  font-weight: 500;
  text-align: right;
  color: #fff;
  text-decoration: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu .menu_item {
  border-right: 2px black dotted;
  padding-right: 28px;
}

.menu .menu_item:last-child {
  border-right: none;
}

.menu .menu_link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: #fff;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}

.subheader_official {
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.subheader_call_text {
  margin-top: 18px;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  color: #fff;
}

.subheader_btn {
  margin-top: 21px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  width: 172px;
  height: 42px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
}

.subheader_btn:hover {
  background-image: none;
  background-color: #13738670;
  border: 1px solid #fff;
}

.promo {
  background: url("../img/bg_top.jpg") center center/cover no-repeat;
  min-height: 800px;
}

.promo_header {
  margin-top: 151px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

.promo_subheader {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

.promo_btn {
  display: block;
  width: 259px;
  height: 63px;
  margin: 118px auto 0 auto;
  -webkit-box-shadow: inset 0px 0px 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px 0px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.promo_btn:hover {
  background-image: none;
  background-color: #13738670;
  border: 1px solid #fff;
}

.reasons {
  min-height: 900px;
  padding: 71px 0 68px 0;
}

.reasons .reason_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons .reason_item .reason_item_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 113px;
  height: 113px;
  margin: 0 26px 0 0;
  background-color: #1eacc7;
  border-radius: 100%;
}

p.reason_item_descr_title {
  margin-bottom: 0;
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

p.reason_item_descr_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  text-align: justify;
}

p.promo_descr {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin-top: 23px;
}

.reasons .reason_item .reason_item_descr {
  width: 343px;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.label_white {
  background-color: #ffffff;
  color: #000000;
}

.title {
  margin-bottom: 0;
  margin-top: 32px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.title_white {
  color: #ffffff;
}

.subtitle {
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  color: #222;
  line-height: 1.24;
}

.subtitle_white {
  color: #ffffff;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url("../img/middle_bg.jpg") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding: 92px 30px 0 30px;
}

.mobile_item_plus {
  position: absolute;
  padding: 6px;
  width: 26px;
  height: 26px;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 100px;
  background-color: #000;
  bottom: 35px;
  cursor: pointer;
}

.mobile_item_plus:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.mobile_item_plus:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

.mobile_item_subtitle {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.mobile_item_1 {
  background: url("../img/mobile_features/one_touch_order.jpg") center center/cover no-repeat;
}

.mobile_item_2 {
  background: url("../img/mobile_features/sure_get.jpg") center center/cover no-repeat;
}

.mobile_item_3 {
  background: url("../img/mobile_features/nice_price.jpg") center center/cover no-repeat;
}

.mobile_item_4 {
  background: url("../img/mobile_features/remote_cash.jpg") center center/cover no-repeat;
}

.mobile_item_5 {
  background: url("../img/mobile_features/feedback.jpg") center center/cover no-repeat;
}

.mobile_item_6 {
  background: url("../img/mobile_features/share_price_ride.jpg") center center/cover no-repeat;
}

.possibilities {
  position: relative;
  min-height: 896px;
  background: url("../img/middle_bg.jpg") center center/cover no-repeat;
  z-index: -1;
  padding: 57px 0 138px 0;
}

.possibilities_bg_black {
  position: absolute;
  background-color: #070716;
  height: 499px;
  width: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

.possibilities_img {
  display: block;
  margin: 0 auto;
  margin-top: 56px;
}

.possibilities_text {
  font-size: 16px;
  font-weight: 400;
  color: #222;
  text-align: center;
}

.conditions_requirements {
  min-height: 919px;
  padding: 68px 0 84px 0;
}

.conditions_requirements span {
  text-transform: uppercase;
}

.conditions_requirements_item {
  margin-top: 33px;
  width: 478px;
}

.conditions_requirements_item_list {
  padding: 0;
}

.conditions_requirements_item_title {
  color: #1eacc7;
  font-weight: 500;
  font-size: 22px;
}

.conditions_requirements_item ul, .conditions_requirements_item_bonus {
  font-size: 17px;
  font-weight: 300;
  text-align: left;
  color: #222;
  list-style-type: none;
  margin: 0;
  margin-top: 20px;
}

.conditions_requirements_item ul li, .conditions_requirements_item_bonus li {
  position: relative;
  padding-left: 54px;
  margin-bottom: 10px;
}

.conditions_requirements_item ul li::before, .conditions_requirements_item_bonus li::before {
  content: '';
  display: block;
  position: absolute;
  left: 21px;
  top: 5px;
  width: 21px;
  height: 20px;
  background: url("../icons/blue_done_icon.svg") center center/cover no-repeat;
}

.conditions_requirements_item_bonus {
  color: #1eacc7;
}

.conditions_requirements .warning .conditions_requirements_item_title {
  color: #ff5656;
}

.conditions_requirements .warning .conditions_requirements_item_list li::before {
  background: url("../icons/red_done_icon.svg") center center/cover no-repeat;
}

.world {
  position: relative;
  background: url("../img/bottom_bg.jpg") center center/cover no-repeat;
  height: 717px;
  max-height: 717px;
  padding: 50px 0;
}

.world_link {
  display: block;
  margin-top: 486px;
  text-align: center;
  text-transform: uppercase;
}

.world_link a {
  text-decoration: none;
  font-size: 15px;
  color: #1eacc7;
}

footer {
  height: 148px;
}

footer .hr_footer {
  display: block;
  border: 2px solid #1eacc7;
  width: 300px;
  margin: 14px auto;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */