* {
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 50px;
  background-color: #212121;
}

a.subheader_call_number {
  display: block;
  font-size: 22px;
  font-weight: 500;
  text-align: right;
  color: #fff;
  text-decoration: none;
}

p.promo_descr {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin-top: 23px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}

.menu_item {
  border-right: 2px black dotted;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
}

.menu_link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: #fff;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}

.subheader_official {
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.subheader_call_text {
  margin-top: 18px;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  color: #fff;
}

.order_call {
  margin-top: 21px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  width: 172px;
  height: 42px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
}

.order_call:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#137386), to(#297b8b));
  background-image: linear-gradient(to top, #137386, #297b8b);
}

.promo {
  background: url("../img/bg_top.jpg") top center/cover no-repeat;
  min-height: 800px;
}

.promo_header {
  margin-top: 151px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

.promo_subheader {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

.promo_send_request {
  display: block;
  width: 259px;
  height: 63px;
  margin: 118px auto 0 auto;
  -webkit-box-shadow: inset 0px 0px 0 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px 0px 0 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

.promo_send_request:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#115e6d), to(#226674));
  background-image: linear-gradient(to top, #115e6d, #226674);
}

.reasons {
  min-height: 900px;
  padding: 71px 0 68px 0;
}

.reasons .reason_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons .reason_item .reason_item_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 113px;
  height: 113px;
  margin: 0 26px 0 0;
  background-color: #1eacc7;
  border-radius: 100%;
}

p.reason_item_descr_title {
  margin-bottom: 0;
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

p.reason_item_descr_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.reasons .reason_item .reason_item_descr {
  width: 343px;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */